{% extends "admin/master.html" %}

{% block content %}
<div class="content-wrapper">
    <div class="content-operate">
        <span class="title"><img src="{{CDNRESOURCE}}images/ico/edit.gif" class="ico" />  修改密码</span>
        <span class="title"> &nbsp;&nbsp;ID：<?=$uid?></span>
    </div>
    <div class="content-list">
        <table class="table-form">
            <colgroup>
                <col width="150px" />
                <col />
            </colgroup>
            <tr>
                <th>原密码：</th>
                <td class="pl5"><input type="password" class="input_text" name="o_password" id="o_password"/> <span class="red">* 必須輸入</span></td>
            </tr><tr>
                <th>新密码：</th>
                <td class="pl5"><input type="password" class="input_text" name="n_password1" id="n_password1"/> <span class="red">* 必須輸入</span></td>
            </tr><tr>
                <th>确认密码：</th>
                <td class="pl5"><input type="password" class="input_text" name="n_password2" id="password" /> <span class="red">* 必須輸入</span></td>
            </tr><tr>
                <td></td>
                <td class="pl5">
                    <input type="submit" class="input_button4" value=" 修改密码 " />　
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $("input[type='submit']").click(function(){
        if ($("input[name='o_password']").val() == '') { $(window).alert({text:"請輸入原密码！", cancelClick: function(){ $("input[name='o_password']").focus(); } });  return false; };
        if ($("input[name='n_password1']").val() == '') { $(window).alert({text:"請輸入新密码！", cancelClick: function(){ $("input[name='n_password1']").focus(); } }); return false; };
        if ($("input[name='n_password2']").val() == '') { $(window).alert({text:"請輸入确认密码！", cancelClick: function(){ $("input[name='n_password2']").focus(); } }); return false; };
        if ($("input[name='n_password1']").val().length < 6) { $(window).alert({text:"請輸入新密码最少6位！", cancelClick: function(){ $("input[name='n_password1']").focus(); } }); return false; };
        if ($("input[name='n_password1']").val() != $("input[name='n_password2']").val()) { $(window).alert({text:"請輸入新密码与确认密码不一致！", cancelClick: function(){ $("input[name='n_password2']").focus(); } }); return false; };
        $.ajax({
            url: "{{BASEURI}}admin/sys/editpassword_post",
            dataType:"json",
            data: { o_password: $("input[name='o_password']").val(), n_password1: $("input[name='n_password1']").val() },
            success: function (json) {
                if (json) $(window).alert({text:json.msg, cancelClick:function(){ if (json.rel) top.tab.close(); }});
            },
            error: function(){ $(window).closeWindow(); $(window).alert({text:'操作失败，请重试！'}); }
        });
        return true;
    });
    rbgame.starcloud.admin.pageLoad();
</script>
{% endblock %}